[Desktop Entry]
Type=Application
Exec=emacs --daemon
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Emacs Daemon 
Name=Emacs Daemon 
Comment[en_US]=
Comment=
