.DS_Store

emacs/local-settings
*.elc
*~

Autodesk


yarn/*
gcloud/*
configstore/*
nix/*
op/*
gh/*


flutter/*
raycast/*


emacs/doom/custom.el

packer/*
AWSVPNCLIENT/*

**/*.swp
**/*.sqlite
**/*.mdb
**/*.wasm
tmux/plugins/
pagerduty-cli/
pgcli/log
pgcli/history
pgcli/config
tcld/tokens.json
graphite/user_config
marimo/marimo.toml

alacritty/*
github-copilot/*
semantic-grep/*