[Desktop Entry]
Type=Application
Exec=rescuetime
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Rescue Time
Name=Rescue Time
Comment[en_US]=run RescueTime uploader
Comment=run RescueTime uploaded
