transient/*
straight/build/*
straight/repos/*
straight/build-cache.el


elpa/*

eshell/history
eshell/lastdir

bookmarks
recentf

anaconda-mode/*

.org-id-locations
.lsp-session*

.cache/*

projectile-bookmarks.eld
projectile.cache

.dap-breakpoints

mspyls/*

url/*